env:
  branch: production

name: Sync release to ${{ env.branch }}

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
        type: string
  release:
    types: [released]



jobs:
  sync-release:
    runs-on: ubuntu-latest
    steps:
      - name: create pull request to ${{ env.branch }}
        run: gh pr create -B $TO_BRANCH -H $FROM_BRANCH --title $PULL_REQUEST_TITLE
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            FROM_BRANCH: ${{ inputs.version || github.event.release.tag_name }}
            TO_BRANCH: ${{ env.branch }}
            PULL_REQUEST_TITLE: "chore(release): sync ${{ inputs.version || github.event.release.tag_name }} to ${{ env.branch }}"

